<% include ../nav/header.ejs %>
<style>
    .add-nav{
        width: 4rem;
        left: 38%;
    }
    .aui-list-header{
        height: 2rem;
    }
    .hr-title{
        width: 100%;
        position: relative;
        top: 1rem;
    }
    .hr-more{
        width: 4.5rem;
        left:38%;
        top: 0.2rem;
    }
</style>
<section class="my-bottom">
<ul class="aui-list aui-media-list">
    <div class="aui-list-header" style="display: block;background-color: #ffffff;">
        <hr class="hr-title"/>
        <div class="hr-more add-nav" >选择地址</div>
    </div>
    <% list.forEach(function(l){ %>
    <li class="aui-list-item aui-list-item-middle">
        <div class="aui-media-list-item-inner">
            <%if(session.user.address&&session.user.address.id===l.id){%>
            <label style="width: 3rem;"><input class="aui-radio" type="radio" name="radio"  checked> </label>
            <%}else{%>
            <label style="width: 3rem;"><input class="aui-radio" type="radio" name="radio" id="<%=l.id%>" > </label>
            <%}%>
            <div class="aui-list-item-inner aui-list-item-arrow">
                <div class="aui-list-item-text">
                    <div class="aui-list-item-title aui-font-size-14"><%= l.district %><%= l.site %></div>
                    <div class="aui-list-item-right" onclick="window.location.href= '/wx/modifyaddresspage?id=<%= l.id %>&type=2';return false">修改</div>
                </div>
                <div class="aui-list-item-text">
                    <%= l.name %>  <%=l.mobile%>
                </div>
            </div>
        </div>
    </li>
    <%})%>
</ul>
<p><div class="aui-btn my-green-text my-green-border aui-btn-block aui-btn-outlined aui-btn-sm" onclick="window.location.href= '/wx/fillorder';return false" style="background-color: #ffffff">返回</div></p>
<div class="aui-list-header" style="display: block;background-color: #ffffff;">
    <hr class="hr-title"/>
    <div class="hr-more add-nav" >添加地址</div>
</div>
<form action="/wx/addaddress?type=2" method="post">
    <div class="aui-content aui-margin-b-15">
        <ul class="aui-list aui-form-list">
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                        联系人
                    </div>
                    <div class="aui-list-item-input">
                        <input type="text" placeholder="您的姓名" name="name">
                    </div>
                </div>
            </li>
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                        称呼
                    </div>
                    <div class="aui-list-item-input">
                        <label><input class="aui-radio" type="radio" name="sex" value="1" checked> 先生</label>
                        <label><input class="aui-radio" type="radio" name="sex" value="0"> 女士</label>
                    </div>
                </div>
            </li>
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                        手机号码
                    </div>
                    <div class="aui-list-item-input">
                        <input type="number" placeholder="配送员联系您的电话" name="mobile">
                    </div>
                </div>
            </li>
            <!--<li class="aui-list-item">-->
                <!--<div class="aui-list-item-inner">-->
                    <!--<div class="aui-list-item-label">-->
                        <!--配送区域-->
                    <!--</div>-->
                    <!--<div class="aui-list-item-input">-->
                        <!--<select name="area">-->
                            <!--<option value="常州大学">常州大学</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</li>-->
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                        门牌号
                    </div>
                    <div class="aui-list-item-input">
                        <input type="text" placeholder="详细地址，例:9栋454" name="site">
                    </div>
                </div>
            </li>
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                        是否默认
                    </div>
                    <div class="aui-list-item-input">
                        <input type="checkbox" class="aui-switch" name="isdefault" checked>
                    </div>
                </div>
            </li>
            <li class="aui-list-item">
                <div class="aui-list-item-inner aui-list-item-center aui-list-item-btn">
                    <input type="submit" class="aui-btn my-green aui-btn-info aui-margin-r-5" value="保存">
                </div>
            </li>
        </ul>
    </div>
</form>
</section>
<script type="text/javascript" src="/javascript/jquery-3.1.1.js"></script>
<script>

    $("input[name='radio']").change(function () {
        $.get("/wx/addressselectchange", {id: this.id}, function (r) {
            if(r.call ===1){
                location.href="/wx/fillorder";
            }
        });
    });
</script>