<% include ../nav/header.ejs %>
<style>
    .signlevel{
        margin-left: 0.5rem;
        margin-righ: 1rem;
        padding-right: 0.5rem;
    }
    .giftimg{
        max-width: 96%;
        text-align: center;
        max-height: 4rem;
        display: inline-block;
    }
    .label {
        display: block;
        font-size: 0.7rem;
        position: relative;
        margin-top: 0rem;
        text-align: left;
        margin-left: 0.25rem;
    }
    .cost{
        color: #4dc71f;
        font-weight:600;
        font-size: 0.8rem;
    }
    .name{
        font-weight:700;
        font-size: 0.8rem;
        color: rgba(49, 49, 49, 0.9);
    }
    .abstract{
        color:#757575;
        font-size: 0.6rem
    }
</style>
<img src="/aui/image/acc.jpg"/>

<section class="aui-grid aui-margin-b-15">
    <div class="aui-row">
        <% g.forEach(function(p){%>
        <div class="aui-col-xs-4" onclick="window.location.href= '/wx/giftdetail?id=<%=p.id%>';return false">
            <img src="/img/<%=p.imgurl%>" class="giftimg"/>
            <div class="label cost"><%=p.balance%>兑换</div>
        </div>
        <%})%>
    </div>
</section>
我的点赞数:<%=activitydata.praise%>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>
    wx.config({
        debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId:'<%=config.appId%>' , // 必填，公众号的唯一标识
        timestamp:'<%=config.timestamp%>', // 必填，生成签名的时间戳
        nonceStr:'<%=config.nonceStr%>', // 必填，生成签名的随机串
        signature: '<%=config.signature%>',// 必填，签名，见附录1
        jsApiList: [ 'onMenuShareTimeline', 'onMenuShareAppMessage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });
    wx.ready(function(){
        alert(location.href.split('#')[0]);
        // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
        wx.onMenuShareTimeline({
            title: '遇饭活动', // 分享标题
            link: 'http://16xx318089.imwork.net/wx/activitypageshare?id=<%=activitydata.id%>', // 分享链接
            imgUrl: 'http://16xx318089.imwork.net/img/6f28b6f9-c9fe-4246-a01f-0a10b90762da.jpg', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
                console.log('OK');
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
                console.log('NO');
            }
        });
        wx.onMenuShareAppMessage({
            title: '遇饭活动', // 分享标题
            desc: '遇饭活动', // 分享描述
            link: 'http://16xx318089.imwork.net/wx/activitypageshare', // 分享链接
            imgUrl: 'http://16xx318089.imwork.net/img/6f28b6f9-c9fe-4246-a01f-0a10b90762da.jpg', // 分享图标
            type: 'link', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                // 用户确认分享后执行的回调函数
                alert('OK');
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
                alert('NO');
            }
        });
    });
</script>